.banner {
    width: 100%;
    height: 300px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    margin-top: 20px;
    gap: 20px;
}

.left h3,
.right h3 {
    font-size: 32px;
}

.left p,
.right p {
    text-align: justify;
}

.teams-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    margin-top: 5px;
}