.container {
    display: flex;
    justify-content: space-between;
    padding: 20px 0 10px;
    align-items: center;
    width: 80vw;
    margin: 0 auto;
}

.navlink {
    text-decoration: none;
    color: inherit;
    font-size: 20px;
    font-weight: 600;
}

.navlink:hover {
    color: rgb(19, 73, 153);
}

.branding {
    font-size: 45px;
}

.navoptions {
    display: flex;
    gap: 30px;
    list-style: none;
}

.options {
    display: flex;
    gap: 20px;
}