.header {
    text-align: center;
    border-bottom: double 3px yellowgreen;
    padding: 5px;
    font-size: 20px;
}

.category-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}

.article-list-container {
    margin-top: 10px;
}

.article {
    max-width: 85%;
    margin: 0 auto;
}

.link {
    text-decoration: none;
    color: inherit;
}